<div class="flex justify-center items-center flex-col h-screen w-full">
  <form method="post" class="w-1/4" [formGroup]="userForm">
    <div class="text-red-600 font-bold">
      {{ errorMessage }}
    </div>
    <div>
      <label for="creds" class="label">Username/Email</label>
      <input
        type="text"
        id="creds"
        name="creds"
        class="input-bordered input w-full"
        formControlName="creds"
        [ngClass]="{
          'border-red-600 border-2':
            userForm.get('creds')?.invalid && userForm.get('creds')?.touched
        }"
      />
      <div
        *ngIf="userForm.get('creds')?.invalid && userForm.get('creds')?.touched"
        class="text-red-600"
      >
        Please enter username/email.
      </div>
    </div>
    <div>
      <label for="password" class="label">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        class="input-bordered input w-full"
        formControlName="password"
        [ngClass]="{
          'border-red-600 border-2':
            userForm.get('password')?.invalid &&
            userForm.get('password')?.touched
        }"
      />
      <div
        *ngIf="
          userForm.get('password')?.invalid && userForm.get('password')?.touched
        "
        class="text-red-600"
      >
        Password is required.
      </div>
    </div>
    <br />
    <input
      type="button"
      value="Sign In"
      (click)="loginUser()"
      class="btn btn-primary self-center w-full"
    />
  </form>
  <br />
  <span>No Account? <a routerLink="/signup">Signup</a> </span>
</div>
