<app-sidenav></app-sidenav>
<div class="grid grid-rows-3 w-screen h-screen px-20">
  <div
    class="grid grid-cols-1 grid-rows-3 h-full border-blue-900 border-2 w-full items-center text-center rounded-lg"
  >
    <p class="text-4xl font-bold self-center">Student Dashboard</p>
    <div class="row-span-1 flex justify-around font-medium">
      <p>Name: {{ getDeets().name }}</p>
      <p>Course: {{ getDeets().course }}</p>
      <p>Year Level: {{ getDeets().year_level }}</p>
      <p>Date Enrolled: {{ getDeets().date_enrolled }}</p>
    </div>
    <div class="row-span-1 flex justify-around font-medium">
      <p>Student ID: {{ getDeets().id }}</p>
      <p>Contact No. {{ getDeets().contact }}</p>
      <p>Email Address: {{ getDeets().email }}</p>
    </div>
    <div class="content-between flex justify-between mx-28">
      <a href="" class="hover:text-green-950">Edit Information</a>
      <a (click)="logOut()" class="hover:text-red-600">Log Out</a>
    </div>
  </div>
  <div class="grid grid-cols-3 justify-between w-full h-full">
    <div class="grid grid-rows-3 text-center m-0 justify-center items-center">
      <p class="font-bold text-xl">Total Books Borrowed</p>
      <p class="font-extrabold text-9xl">{{ bookCount }}</p>
      <a routerLink="/history">View History</a>
    </div>
    <div class="grid grid-rows-3 text-center m-0 justify-center items-center">
      <p class="font-bold text-xl">Payment Due</p>
      <p class="font-extrabold text-7xl">{{ getDeets().balance }}</p>
      <p class="text-xs text-red-700">
        Note: If you have an outstanding balance your clearance will not be
        signed
      </p>
    </div>
    <div class="grid grid-rows-3 text-center m-0 justify-center items-center">
      <p class="font-bold text-xl">Books Not Returned</p>
      <p class="font-extrabold text-9xl">{{ notReturned }}</p>
      <a routerLink="/history">View History</a>
    </div>
    <div></div>
  </div>
</div>
